body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: rgb(245, 248, 248);
}
.menu-container{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    width: 100%;
}
.menu-wrapper{
    display: flex;
    width: 100%;
    align-items: center;
}
.menu-wrapper h2{
    padding-right: 30px;
    padding-left: 20px;
}
ul{
    display: flex;
    width: 100%;
    gap: 20px;
}
li{
    list-style-type: none;
}
.first-item{
    margin-right: auto;
}
.last-item{
    margin-left: auto;
    margin-right: 50px;
}
.last-item a{
    color: rgb(5, 82, 250);
}
ul a{
    color: black;
    font-size: larger;
    text-decoration: none;
    font-weight: bold;
}
/*end of menu*/
.construction{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    width: 75%;

}
h1, h2{
    margin: 0px;
    
}
.card-section-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 40px;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 40px;
}
.card{
    width: 300px;
    height: 400px;
    background-color:rgb(245, 248, 248);
    border-radius: 20px;
}